* {
  box-sizing: border-box;
}

/* general */
body {
  background-color: #01707d;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
}

header {
  background-color: #01707d;
  position: fixed;
  top: 0;
  width: 100%;
}

header h1 {
  color: #f8f4e3;
  text-align: center;
  margin: 0;
  padding-top: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 42px;
}

header nav {
  display: flex;
  justify-content: center;
}

header nav ul {
  display: flex;
  padding-left: 0;
  list-style: none;
}

header nav ul li a {
  color: #f8f4e3;
  text-decoration: none;
  margin: 0 20px 0 0;
}

header nav ul li:last-child a {
  margin-right: 0;
}

main {
  background-color: lightblue;
  padding-bottom: 5%;
}

section {
  margin: 10px;
}

.section-top {
  margin-top: 0px;
}

article {
  padding: 0 10px;
}

h2 {
  text-align: center;
  font-size: 26px;
}

img {
  max-width: 100%;
}

.about {
  position: relative;
  top: -127px;
}

.border {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}

.contact-container {
  background-color: #f8f4e3;
  padding-top: 1px;
  padding-left: 10px;
  padding-bottom: 5px;
  height: auto;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.flex-group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
}

.item-double {
  flex: 2;
}

.mapleWidth {
  max-width: 832px;
}

.projects {
  position: relative;
  top: -140px;
}

.spacing {
  margin-top: 0px;
  padding-top: 139.58px;
}

.trail-desc {
  padding: 0px 15px 0px 0px;
}

.trail {
  margin: auto;
}

/* responsive media code */
@media all and (min-width: 660px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    position: fixed;
    top: 0;
    width: 100%;
    margin-bottom: -150px;
  }

  header h1 {
    margin: 14px 0;
    padding-top: 0;
  }

  header nav {
    margin-top: 8px;
  }

  header nav ul li a:hover {
    color: #bdbdbd;
  }

  .about {
    position: relative;
    top: -85px;
  }

  /* img {
    width: unset;
  } */

  .flex-group {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .projects {
    position: relative;
    top: -99px;
  }

  section article.flex-group {
    justify-items: space-around;
  }

  .spacing {
    padding-top: 80px;
  }
}

@media all and (min-width: 1040px) {
  .container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    gap: 15px;
  }

  .item3 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
  }

  .item6 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 4;
    grid-row-end: 4;
  }
}
