<<<<<<< HEAD
* {
  box-sizing: border-box;
}

/* general */
body {
  background-color: #01707d;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
}

header {
  overflow: hidden;
  background-color: #01707d;
  position: fixed;
  top: 0;
  width: 100%;
}

header h1 {
  color: #F8F4E3;
  text-align: center;
  margin: 0;
  padding-top: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 42px;
}

header nav {
  display: flex;
  justify-content: center;
}

header nav ul {
  display: flex;
  padding-left: 0;
  list-style: none;
}

header nav ul li a {
  color: #F8F4E3;
  text-decoration: none;
  margin: 0 20px 0 0;
}

header nav ul li:last-child a {
  margin-right: 0;
}

main {
  background-color: lightblue;
}

main div {
  height: auto;  
  padding-bottom: 5%;
}

.border {
  border-right-style: 1px solid black;
  border-bottom-style: 1px solid black;
  border-left-style: 1px solid black;
}

section {
  margin: 2%;
}

article {
  padding: 0 10px;
}

.contact-container {
  background-color: #F8F4E3;
  padding-top: 1px;
  padding-left: 10px;
  padding-bottom: 5px;
  height: auto;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

h2 {
  text-align: center;
  font-size: 26px;
  padding-top: 118px;
}

img {
  width: 100%;
} 

/* groups */
.group {
  display: flex;
  flex-direction: column;
}
.item {
  flex: 1;
}

.item-double {
  flex: 2;
}

form label {
  font-size: 18px;
  margin-bottom: 5px;
  font-family: arial;
}

form input[type=text] {
  color: #000;
  font-size: 16px;
  margin-bottom: 20px;
}

.block {
  display: block;
}

textarea {
  width: 90%;
  height: 300px;
}

form input[type=text] {
  width: 200px;
}

.submit-button {
  padding: 5px;
}

/* responsive media code */
@media all and (min-width: 660px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    position: fixed;
    top: 0;
    width: 100%;
    margin-bottom: -150px
  }

  header h1 {
    margin: 14px 0;
    padding-top: 0;
  }

  header nav {
    margin-top: 8px;
  }

  header nav ul li a:hover {
    color: #bdbdbd;
  }

  h2 {
    padding-top: 75px;
  }

  section  {
    margin-left: 5%;
    padding-left: 10%;
    padding-right: 10%;
  }

  img {
    width: unset; 
  } 

  .group {
    flex-direction: row;
  }

  section article.group {
    justify-items: space-around;
  }

  .trail {
    margin: 2px 25px;
    align-items: center;
  }

  label {
    padding: 5px;
  }

  textarea {
    height: 150px;
    margin-left: 5px;
  }
=======
* {
  box-sizing: border-box;
}

/* general */
body {
  background-color: #01707d;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
}

header {
  overflow: hidden;
  background-color: #01707d;
  position: fixed;
  top: 0;
  width: 100%;
}

header h1 {
  color: #F8F4E3;
  text-align: center;
  margin: 0;
  padding-top: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 42px;
}

header nav {
  display: flex;
  justify-content: center;
}

header nav ul {
  display: flex;
  padding-left: 0;
  list-style: none;
}

header nav ul li a {
  color: #F8F4E3;
  text-decoration: none;
  margin: 0 20px 0 0;
}

header nav ul li:last-child a {
  margin-right: 0;
}

main {
  background-color: lightblue;
}

main div {
  height: auto;  
  padding-bottom: 5%;
}

.border {
  border-right-style: 1px solid black;
  border-bottom-style: 1px solid black;
  border-left-style: 1px solid black;
}

section {
  margin: 2%;
}

article {
  padding: 0 10px;
}

.contact-container {
  background-color: #F8F4E3;
  padding-top: 1px;
  padding-left: 10px;
  padding-bottom: 5px;
  height: auto;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

h2 {
  text-align: center;
  font-size: 26px;
  padding-top: 118px;
}

img {
  width: 100%;
} 

/* groups */
.group {
  display: flex;
  flex-direction: column;
}
.item {
  flex: 1;
}

.item-double {
  flex: 2;
}

form label {
  font-size: 18px;
  margin-bottom: 5px;
  font-family: arial;
}

form input[type=text] {
  color: #000;
  font-size: 16px;
  margin-bottom: 20px;
}

.block {
  display: block;
}

textarea {
  width: 90%;
  height: 300px;
}

form input[type=text] {
  width: 200px;
}

.submit-button {
  padding: 5px;
}

/* responsive media code */
@media all and (min-width: 660px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    position: fixed;
    top: 0;
    width: 100%;
    margin-bottom: -150px
  }

  header h1 {
    margin: 14px 0;
    padding-top: 0;
  }

  header nav {
    margin-top: 8px;
  }

  header nav ul li a:hover {
    color: #bdbdbd;
  }

  h2 {
    padding-top: 75px;
  }

  section  {
    margin-left: 5%;
    padding-left: 10%;
    padding-right: 10%;
  }

  img {
    width: unset; 
  } 

  .group {
    flex-direction: row;
  }

  section article.group {
    justify-items: space-around;
  }

  .trail {
    margin: 2px 25px;
    align-items: center;
  }

  label {
    padding: 5px;
  }

  textarea {
    height: 150px;
    margin-left: 5px;
  }
>>>>>>> 58afd20556a363431899dc9c753ee2c383efa4e6
}  